.footer {
    margin-bottom: 10px;
}

.footer-logo-text {
    margin-left: 10px;
    display: inline;
}

.footer-logo {
    height: 30px;
    width: 30px;
}

.footer-link {
    text-decoration: none;
    font-size: 15px;
}

.footer-col-2 {
    margin-top: 11px !important;
    /* margin-left:10px; */
}

.footer-col-3 {
    margin-top: 11px !important;
}

.brand-icons {
    font-size: 25px;
    color: white;
}

@media (min-width: 1000px) {
    .lg-screen{
        position: fixed;
    }
}