body {
  margin: 0;
}

.header-font {
  font-family: "Gabarito";
}

.content-font {
  font-family: "Open Sans";
}

.red-button {
  background-color: #E50914 !important;
  color: white !important;
}

.red-button:hover {
  background-color: white !important;
  color: #E50914 !important;
  border: 2px solid #E50914 !important;
}